.white { color:white; }
.red { color:#cf1b41; }
.redbg { background-color:#cf1b41; }
.blue { color:#399fd3; }
.bluebg { background-color:#399fd3; }
.lightblue { color:#7ab5d6; }
.lightbluebg { background-color:#7ab5d6; }


* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cf:before,
.cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}
.fa {
  line-height:inherit;
}
body {
  background-color: Fuchsia;
  margin: 0;
  padding: 0;
}


/*
  HELPERS
*/
.pull-right {
  float:right;
}


/*
  NAV
*/
nav.nav {
  position:absolute;
  top:0;
  display:table;
  width:100%;
  height:80px;
  background-color:#cf1b41;
}
.nav-inner {
  display:table-cell;
  vertical-align: middle;
  padding:0 1.5em;
}
.title {
  color:white;
  font-size:2em;
  margin:0;
  padding:0;
  font-weight:300;
  float:left;
}

.actions {
  float:right;
}
.action {
  display:inline-block;
  margin:0; padding:0;
  vertical-align: middle;
}


.filters {
  margin:0;
  padding:0 1em 0 0;
}
.filter {
  background:#ba183a;
  color:#f6f6f6;
  font-size:1em;
  padding:.5em 1em;
  border:none;
  cursor:pointer;
}
.filter:focus {
  outline:none;
}
.filter:hover {
  background:#d33154;
}
.filter.current {
  background:white;
  color:#ba183a;
}


.search-input {
  background:#ba183a;
}
#search {
  background:#ba183a;
  padding:.3em;
  width:280px;
  border:none;
  font-size:1.3em;
  color:white;
}
#search:focus {
  outline:none;
  border-radius:3px;
}
.tt-dataset {
  background:white;
  box-shadow:0 0 2px 0 rgba(0,0,0,0.5);
}
.tt-suggestion {
  border-bottom:1px solid #f6f6f6;
  padding:.5em;
  font-size:1em;
  cursor:pointer;
}
.tt-suggestion:hover {
  background:#e5e5e5;
}
.tt-hint {
  display:none;
}


/*
  MAP
*/
#map {
  position: absolute;
  width:100%;
  top:80px;
  bottom:0;
  background-color:#c0c0c0; /* just to ensure the element is there */
}


/*
  CLUSTERS
*/
.cluster-wrapper {}
.cluster {
  box-shadow:0 0 2px 0 rgba(0,0,0,0.5);
  font-size:1.5em;
  font-weight:900;
  text-align: center;
  background-color: #cf1b41;
  border-radius: 50%;
  position:relative; /* important for the .outer div */
  width:50px;
  height:50px;
  margin:0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cluster:hover {
  box-shadow:0 0 10px 0 rgba(0,0,0,0.6);
}
.cluster-outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cluster-inner {
  display: table-cell;
  vertical-align: middle;
  color:white;
  font-size:1.2em;
}

/*
  POINT MARKERS
*/
.fellow-marker {
  width:190px !important;
  height:auto !important;
  background:#ddd;
  font-weight:900;
  padding:10px;
  font-size:1.2em;
  overflow:hidden;
  border-left:2px solid #cf1b41;
}
.fellow-marker:hover {
  background:#f1f1f1;
}

.fellow-marker.active {
  background:#f1f1f1;
  color:#399fd3;
}


/*
  POPUPS
*/
.leaflet-popup-content-wrapper {
  border-radius:0px;
  box-shadow:none;
  padding:60px 10px 10px 10px;
  width:250px;
  height:300px;
  border-bottom:2px solid #cf1b41;
  background:#f1f1f1 !important;
}
.leaflet-popup-tip-container { display:none; }
.leaflet-popup-content {
  padding:0;
  margin:0;
  font-size:1.4em;
  text-align:center;
}
.leaflet-popup-content p {
  margin:0 !important;
  padding:0 !important;
}

.popup-image {
  background:rgb(215,215,215);
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  top: -60px;
  border: 5px solid #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
}

.popup-image img {
  width:100%;
  height:auto;
}

.popup-city { color: #cf1b41; }
.popup-skill {
  font-size:.8em;
}

.social-links {
  display:block;
}
.social {
  display:inline-block;
  font-size:1.5em;
  color:#333;
}